* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

.svg_wrapper {
    width: 80%;
    margin: 100px auto;
}

.svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

/* Звезды ------------------------------------- */

.star_1,
.star_2,
.star_3,
.star_4,
.star_5 {
    opacity: 0;
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(0);
    animation: star-move 8s linear infinite;
    
}

.star_2 {
    animation-delay: 1s;
}

.star_3 {
    animation-delay: 2s;
}

.star_1 {
    animation-delay: 3s;
}

.star_5 {
    animation-delay: 4s;
}

@keyframes star-move {
    0% {opacity: 0; transform: rotate(0deg) scale(0);}
    10% {opacity: 1; transform: rotate(45deg) scale(1);}
    20% {opacity: 0; transform: rotate(90deg) scale(0);}
    100% {opacity: 0; transform: rotate(90deg) scale(0);}
}

/* Линия ------------------------------------- */

.line-text {
    fill: none;
    stroke: white;
    stroke-width: .5px;
    stroke-dasharray: 60px;
    stroke-dashoffset: 60px;
    opacity: .3;

    animation: line-move 8s infinite;
    animation-delay: 3.3s;
}

@keyframes line-move {
    0% {stroke-dashoffset: 60px;}
    10% {stroke-dashoffset: -60px;}
    100% {stroke-dashoffset: -60px;}
}

/* Текст ------------------------------------- */

#svg-text {

    opacity: 0;

    animation: text-move 8s infinite;
    animation-delay: 3.5s;
}

@keyframes text-move {
    0% {opacity: 0;}
    5% {opacity: 1;}
    30% {opacity: 0;}
    100% {opacity: 0;}
}